{% extends "index.html" %}

{% block search %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {% for course in context.courses %}
      <li><a class="dropdown-item" href="{% url "students:by-course" course_name=course.name %}">{{ course.name }}</a></li>
      {%endfor%}
  </ul>
</div>
{% endblock %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Photo</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone number</th>
        <th scope="col">Birthdate</th>
        <th scope="col">Age</th>
        <th scope="col">CV</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
    </tr>
    </thead>
    <tbody>
    {% for student in context.students %}
    <tr>
        <th scope="row">{{ student.id }}</th>
        <th><img src="{{ student.photo.url }}" width="70" height="80"></th>
        <td>{{ student.first_name }}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.phone_number }}</td>
        <td>{{ student.birthdate }}</td>
        <td>{{ student.age }}</td>
        <td><a href="{{ student.cv.url }}" class="btn btn-warning">Download</a></td>
        <td>
            <a type="button" class="btn btn-danger" href="{% url "students:delete" pk=student.id %}">Delete</a>
        </td>
        <td>
            <a type="button" class="btn btn-success" href="{% url "students:update" pk=student.id %}">Update</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}