{% extends "index.html" %}

{% block search %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {% for course in context.courses %}
      <li><a class="dropdown-item" href="{% url "students:teachers-by-course" course_name=course.name %}">{{ course.name }}</a></li>
      {%endfor%}
  </ul>
</div>
{% endblock %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone number</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
    </tr>
    </thead>
    <tbody>
    {% for teacher in context.teachers %}
    <tr>
        <th scope="row">{{ teacher.id }}</th>
        <td>{{ teacher.first_name }}</td>
        <td>{{ teacher.last_name }}</td>
        <td>{{ teacher.email }}</td>
        <td>{{ teacher.phone_number }}</td>
        <td>
            <a type="button" class="btn btn-danger" href="{% url "students:delete-teacher" pk=teacher.id %}">Delete</a>
        </td>
        <td>
            <a type="button" class="btn btn-success" href="{% url "students:update-teacher" pk=teacher.id %}">Update</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}